In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import re
from datetime import datetime
from itertools import combinations

In [2]:
#подсчет кол-ва данных из колонок (велосипед, но для варианта 2 сойдет)
def count_data_in_columns (data_in_columns):
    temp = []
    genres_dict = {}
    count = Counter()
    for i in data_in_columns:
        genres = i.split('|')
        for b in genres:
            temp.append(b)
    for d in temp:
        count[d] += 1
    genres_dict = dict(count)
    sorted_genres_dict = sorted(genres_dict.items(), key=lambda x: x[1], reverse=True)
    return sorted_genres_dict

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
695,tt0420238,60000000,50877145,The Tale of Despereaux,Matthew Broderick|Dustin Hoffman|Emma Watson|T...,Robert Stevenhagen|Sam Fell,"Small Mouse, Big Dreams",The tale of three unlikely heroes - a misfit m...,100,Animation|Comedy|Family,Universal Pictures Corporation,10/29/2008,5.7,2008
978,tt1045658,21000000,205738714,Silver Linings Playbook,Bradley Cooper|Jennifer Lawrence|Robert De Nir...,David O. Russell,Watch For The Signs,After spending eight months in a mental instit...,122,Drama|Comedy|Romance,The Weinstein Company,9/8/2012,6.9,2012
1519,tt0406816,70000000,55011732,The Guardian,Kevin Costner|Ashton Kutcher|Sela Ward|Melissa...,Andrew Davis,How Do You Decide Who Lives Or Who Dies?,A high school swim champion with a troubled pa...,139,Action,Contrafilm|Firm Films|Touchstone Pictures|Beac...,9/28/2006,7.0,2006
1041,tt1142977,39000000,81491068,Frankenweenie,Charlie Tahan|Winona Ryder|Catherine O'Hara|Ma...,Tim Burton,The electrifying dog is back from beyond the g...,Young Victor conducts a science experiment to ...,87,Animation|Comedy|Family,Walt Disney Pictures|Tim Burton Animation Comp...,10/4/2012,6.5,2012
521,tt0257106,45000000,141220678,Scary Movie 2,Anna Faris|Marlon Wayans|James DeBello|Shawn W...,Keenen Ivory Wayans,No More Mercy. No More Shame. No More Sequels ...,While the original parodied slasher flicks lik...,83,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/4/2001,5.5,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
# создадим словарь для ответов
answers = {} 
# добавим колонку 'profit'
data['profit'] = data['revenue'] - data['budget']
# добавим колонку месяца
re_express = re.compile('(\d*)\S\d*\S\d*')
data['month'] = data['release_date'].str.replace(re_express, r'\1')
data['month'] = data['month'].astype(int)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
#вычисляем id и название фильма с самым большим бюджетом
name = data[data['budget'] == data.budget.max()].original_title.iloc[0]
identifier = data[data['budget'] == data.budget.max()].imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
#вычисляем id и название самого длинного фильма
name = data[data['runtime'] == data.runtime.max()].original_title.iloc[0]
identifier = data[data['runtime'] == data.runtime.max()].imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [13]:
#вычисляем id и название самого короткого фильма
name = data[data['runtime'] == data.runtime.min()].original_title.iloc[0]
identifier = data[data['runtime'] == data.runtime.min()].imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = 110

In [15]:
#вычисляем среднюю длительность фильмов
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = 107

In [17]:
#вычисляем медианное значение длительности фильмов
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = 'Avatar (tt0499549)'

In [19]:
#вычисляем id и название самого прибыльного фильма
name = data[data['profit'] == data.profit.max()].original_title.iloc[0]
identifier = data[data['profit'] == data.profit.max()].imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [21]:
#вычисляем id и название самого убыточного фильма
name = data[data['profit'] == data.profit.min()].original_title.iloc[0]
identifier = data[data['profit'] == data.profit.min()].imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = 1478

In [23]:
#вычисляем кол-во прибыльных фильмов
data[data['profit'] > 0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [25]:
#вычисляем id и название самого кассового фильма в 2008 году
name = data[data['release_year'] == 2008].sort_values(by = 'revenue', ascending=False).original_title.iloc[0]
identifier = data[data['release_year'] == 2008].sort_values(by = 'revenue', ascending=False).imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [27]:
#вычисляем id и название самого убыточного фильма с 2012 по 2014 г.
name = data.query('2012 < release_year < 2014').sort_values(by = 'profit').original_title.iloc[0]
identifier = data.query('2012 < release_year < 2014').sort_values(by = 'profit').imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama'

In [29]:
#вычисляем жанр, фильмов которого больше всего
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [30]:
#альтернативно вычисляем жанр, фильмов которого больше всего
count_data_in_columns(data['genres'])[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'

In [32]:
#вычисляем жанр, фильмы которого чаще всего становятся прибыльными
count_data_in_columns(data[data['profit'] > 0]['genres'])[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = 'Peter Jackson'

In [34]:
#вычисляем режисера, фильмы которого собрали самые большие суммарные кассовые сборы
data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez'

In [36]:
#вычисляем режисера, который снял больше всего фильмов в стиле Action
#обновляем датасет
temp_data = data.copy()
#находим в жанрах экшон
temp_data = temp_data[temp_data['genres'].str.contains('Action')]
pd.Series(temp_data['director'].str.cat(sep='|').split('|')).value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'

In [38]:
#вычисляем актера, фильм которого принес самые высокие кассовые сборы в 2012 году
#обновляем датасет
temp_data = data.copy()
#создаем датасет с уникальными строками по актерам
temp_data['actors'] = temp_data.cast.str.split('|')
temp_data = temp_data.explode('actors')
temp_data[temp_data.release_year == 2012].groupby('actors')['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon'

In [40]:
#вычисляем актера, который снялся в большем количестве высокобюджетных фильмов
temp_data[temp_data['budget'] > data['budget'].mean()]['actors'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action'

In [42]:
#вычисляем жанр, в фильмах которого больше всего снимался Nicolas Cage
#обновляем датасет
temp_data = data.copy()
#фильтруем по Кейджу
temp_data = temp_data[temp_data['cast'].str.contains('Nicolas Cage')].copy()
#создаем датасет с уникальными строками по жанрам
temp_data['sep_genres'] = temp_data['genres'].str.split('|')
temp_data.explode('sep_genres')['sep_genres'].value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [44]:
#вычисляем смый убыточный фильм от Paramount Pictures
#фильтруем по Paramount Pictures
par_pic = data['production_companies'].str.contains('Paramount Pictures')
name = data[par_pic].sort_values(by = 'profit').original_title.iloc[0]
identifier = data[par_pic].sort_values(by = 'profit').imdb_id.iloc[0]
print('{} ({})'.format(name, identifier))

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = 2015

In [46]:
#вычисляем какой год стал самым успешным по суммарным кассовым сборам
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = 2014

In [48]:
#вычисляем какой самый прибыльный год для студии Warner Bros
data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'September'

In [50]:
#вычисляем в каком месяце за все годы суммарно вышло больше всего фильмов
month_most_films = data['month'].value_counts().sort_values(ascending=False).index[0]
#переводим численный ответ в месяц
datetime.strptime(str(month_most_films), '%m').strftime("%B")

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = 450

In [52]:
#вычисляем сколько суммарно вышло фильмов летом
sum_summer = 0
#запускаем летний цикл
for i in range(6, 9):
    sum_summer += data['month'].astype(int).value_counts().sort_index()[i]
sum_summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = 'Peter Jackson'

In [54]:
#вычисляем для какого режиссера зима – самое продуктивное время года
#обновляем датасет
temp_data = data.copy()
#создаем датасет с уникальными строками по режисерам
temp_data['sep_director'] = temp_data['director'].str.split('|')
#в дополнение фильтруем по зимним месяцам 12, 1 и 2
temp_data.explode('sep_director').query('month==1 | month==2 | month==12')['sep_director'].value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = 'Four By Two Productions'

In [56]:
#вычисляем какая студия дает самые длинные названия своим фильмам по количеству символов
#обновляем датасет
temp_data = data.copy()
#создаем датасет с уникальными строками по компаниям
temp_data['sep_companies'] = temp_data['production_companies'].str.split('|')
temp_data = temp_data.explode('sep_companies')
#находим и записываем в датасет длину фильмов
temp_data['len_title'] = temp_data['original_title'].str.len()
temp_data.groupby('sep_companies')['len_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = 'Midnight Picture Show'

In [58]:
#вычисляем какая студия дает в среднем самые длинные описания фильмов
#обновляем датасет
temp_data = data.copy()
#создаем датасет с уникальными строками по компаниям
temp_data['sep_companies'] = temp_data['production_companies'].str.split('|')
temp_data = temp_data.explode('sep_companies')
#находим и записываем в датасет длину описания
temp_data['len_overview'] = temp_data['overview'].str.len()
temp_data.groupby('sep_companies')['len_overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [60]:
#вычисляем какие фильмы входят в 1 процент лучших по рейтингу
#находим 1%
one_perc = int(len(data['vote_average']))//100
data.groupby('original_title')['vote_average'].max().sort_values(ascending=False).head(one_perc)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = ('Daniel Radcliffe', 'Rupert Grint')

In [66]:
#вычисляем какие актеры чаще всего снимаются в одном фильме вместе
pair = []
#запускаем цикл, чтобы скомбить актеров в двойки в пределах одного фильма 
for cast in data['cast'].str.split('|'):
    pair.extend(combinations(cast, 2))
pd.Series(pair).value_counts()

(Daniel Radcliffe, Emma Watson)              8
(Daniel Radcliffe, Rupert Grint)             8
(Rupert Grint, Emma Watson)                  7
(Johnny Depp, Helena Bonham Carter)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Josh Brolin, Thandie Newton)                1
(Colin Firth, Kevin McKidd)                  1
(Benedict Cumberbatch, Carice van Houten)    1
(Jackson Nicoll, Chelsea Handler)            1
(Tom Wilkinson, Tilda Swinton)               1
Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Emma Watson')}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27